.grid {
    border: 1px solid #CCC;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 50px 1fr;
    height: 300px;
}

.gridList {
    padding: 5px;
}

.gridActions {
    border-left: 1px solid #CCC;
    border-right: 1px solid #CCC;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.gridActions button{
    margin: 5px 0 !important;
}

.list {
    height: calc(300px - 10px);
    overflow-y: auto;
}

.list div {
    border-radius: 5px !important;
    padding: 10px 5px !important;
    cursor: pointer !important;
}

.list div:hover{
    background-color: #CCC !important;
}