.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin 8s infinite linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  0% {
    transform: rotate(0deg) scale(0.0);
  }
  50%{
    transform: rotate(180deg) scale(1.3);
  }
  100% {
    transform: rotate(360deg) scale(0.0);
  }
}

.rbc-month-view {
  border-radius: 5px !important;
}

.rbc-header{
  padding: 10px 0 !important;
  font-size: 18px !important;
  background-color: #03A688 !important;
  color: white !important;
  font-weight: bold !important;
}

.rbc-header:first-child{
  border-top-left-radius: 3px !important;
}
.rbc-header:last-child{
  border-top-right-radius: 3px !important;
}

.rbc-today {
  background-color: rgba(28,152,166, 0.3) !important;
}

rbc-row-bg {
  margin: 2px !important;
  border-radius: 3px !important;
}

.rbc-event {
  flex: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  background-color: transparent !important;
}
.rbc-event.rbc-selected {
  border: transparent 0px solid !important;
  background-color: transparent !important;
}


.rbc-event-content {
  border-radius: 4px;
  padding: 5px;
  background-color: #03A688 !important;
  border: none !important;
  font-weight: bold;
}

.rbc-event-content[title*="Falhas"] {
  background-color: red !important;
}

.rbc-event-content[title*="repique"] {
  filter: hue-rotate(40deg) !important;
}

.rbc-event:focus {
  border: none !important;
}

.rbc-selected {
  border: 1px solid #0D0D0D !important;
}
